/* This file is for your main application css. */

/*@import "./gregtech.css";*/

button {
    overflow: visible;
    width: auto;

}
button.link {
    font-family: "Verdana" sans-serif;
    font-size: 1em;
    text-align: left;
    color: blue;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;

    -moz-user-select: text;

    /* override all your button styles here if there are any others */

}
button.link span {
    text-decoration: underline;

}
button.link:hover span,
button.link:focus span {
    color: black;

}